div {
  background-color: #0A141E;
  height: 144px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div > img {
  height: 44px;
}

div a {
  text-decoration: none;
  color: white;
}

div a:hover {
  scale: 105%;
  cursor: pointer;
}
