<div id="menu" class="our-menu">
    <h2>OUR MENU</h2>
    <div >
        <div class="single-dish">
            <img src="./assets/img/3_section_our_menu/Png/R1.png">
            <div class="dish-text">
                <h3>Tonkotsu Ramen</h3>
                <div>
                    <div>
                        <span>CHICKEN</span>
                        <span> 11.95€</span>
                    </div>
                    <div>
                        <span>BEEF</span>
                        <span>12.95€</span>
                    </div>
                    <div>
                        <span>SHRIMP</span>
                        <span> 13.95€</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-dish">
            <img src="./assets/img/3_section_our_menu/Png/R2.png">
            <div class="dish-text">
                <h3>Tonkotsu Ramen</h3>
                <div>
                    <div>
                        <span>CHICKEN</span>
                        <span> 11.95€</span>
                    </div>
                    <div>
                        <span>BEEF</span>
                        <span> 12.95€</span>
                    </div>
                    <div>
                        <span>SHRIMP</span>
                        <span> 13.95€</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-dish">
            <img src="./assets/img/3_section_our_menu/Png/R3.png">
            <div class="dish-text">
                <h3>Tonkotsu Ramen</h3>
                <div>
                    <div>
                        <span>CHICKEN</span>
                        <span> 11.95€</span>
                    </div>
                    <div>
                        <span>BEEF</span>
                        <span> 12.95€</span>
                    </div>
                    <div>
                        <span>SHRIMP</span>
                        <span> 13.95€</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>