<div class="how-to-order">
    <h2>HOW TO ORDER</h2>
    <div class="order-steps">
        <div class="step-one">
            <img src="./../../../assets/img/2_section_how_to_order/SVG/noodle.svg">
            <h3>Pick your noodle</h3>
        </div>
        <div class="step-two">
            <img src="./../../../assets/img/2_section_how_to_order/SVG/broth.svg">
            <h3>Pick your broth</h3>
        </div>
        <div class="step-three">
            <img src="./../../../assets/img/2_section_how_to_order/SVG/egg.svg">
            <h3>Add your toppings</h3>
        </div>
    </div>
</div>